body {
  font-family: Arial, sans-serif;
  background-color: #f4f8f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #1b7a3d;
}

h2 {
  color: #1b7a3d;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px 0;
}
.container h2 {
  margin-top: 30px;
}

.container p,
.container li {
  line-height: 1.8;
  font-size: 16px;
}

ul {
  padding-left: 20px;
}
.mosque-img {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  margin: 20px 0;
}
