body {
  font-family: Arial, sans-serif;
  background: #f2f7f2;
}

.container {
  max-width: 700px;
  margin: 20px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.mosque-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px;
}
